<!--
<h1>Lets learn new things</h1>
<p>Addition : {{a+b}}</p>
<p>{{10<1}}</p>
<p>{{"vaishnav".toUpperCase()}}</p>
<login></login>
<app-profile></app-profile>
<app-btnEvent></app-btnEvent>
<app-variables></app-variables>
<app-counter></app-counter>
<app-get-set></app-get-set>
<app-if-else></app-if-else>
<app-elseIf></app-elseIf>
<app-switch></app-switch>
<app-forLoop></app-forLoop>
<app-signals></app-signals>
<app-coontextual-var></app-coontextual-var>
<app-twb></app-twb>

<app-toDoList></app-toDoList>

<app-dynamic-styling></app-dynamic-styling>
<app-directives></app-directives>
<app-ngIf></app-ngIf>
<app-ngFor></app-ngFor>
<app-ngSwitch></app-ngSwitch>
<app-routing></app-routing>
<app-services></app-services>
-->

<app-text-formater></app-text-formater>